.app_box {
  font-family: "Roboto", sans-serif;
  user-select: none;
}
/*
::-webkit-scrollbar {
  display: none;
}
*/

.h2_home {
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 600;
  padding: 128px 0 0;
}

.py-2 {
  font-size: 60px;
}

.font-weight-bold {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.d-block p {
  font-size: 20px;
}
.d-block .m-1 {
  display: flex;
  align-items: center;
}
.d-block .m-1 span {
  text-decoration: none;
}
.icons {
  font-size: 20px;
  margin: 0 8px;
  cursor: pointer;
}

.box_drop {
  text-align: center;
  border: 2px solid;
}
.box_drop_items {
  text-align: center;
}

.py-2 {
  font-size: 60px;
}



.d-block p {
  font-size: 20px;
}
.d-block .m-1 {
  display: flex;
  align-items: center;
}
.d-block .m-1 span {
  text-decoration: none;
}
.icons {
  font-size: 20px;
  margin: 0 8px;
  cursor: pointer;
}

.box_drop {
  text-align: center;
  border: 2px solid;
}
.box_drop_items {
  text-align: center;
}



